/*
   misc styles, nothing to do with CSS variables
*/

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

/* Please make sure variable names matches to the input name */
:root {
  --base: '#ffc600';
  --spacing: 0px;
  --blur: 0px;
}

.hl {
  color: var(--base);
}

.picture {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
