html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 10px 20px;
}

main {
  width: 100%;
  position: relative;
  padding-right: 10px;
  box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

main.searching {
  width: calc(100% / 6);
  background: rgb(240, 240, 240);
}

input.search {
  margin: 0;
  text-align: start;
  outline: 0;
  border: 10px solid #f7f7f7;
  width: 100%;
  left: -10%;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input + label {
  font-size: 42px;
  font-weight: 500;
  color: #96969a;
  position: absolute;
  top: 18px;
  left: 6%;
  transform: translateX(0%);
  transition: all 0.6s;
  pointer-events: none;
}

input:invalid + label,
input:focus + label {
  transform: translateX(-140%);
}

main > form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200px);
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.suggestions {
  margin: 0;
  padding: 0px 8px;
  position: relative;
  /*perspective: 20px;*/
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
}

.suggestions > li.options {
  cursor: pointer;
}

.suggestions > li > * {
  pointer-events: none;
}

.suggestions > li > .banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  transition: all 0.4s;
  padding: 20px;
}

.suggestions > li.options:hover > .banner {
  background: rgba(100, 100, 100, 0.4);
  color: #fff;
}

.suggestions > li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions > li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

span.population {
  font-size: 15px;
}

.hl {
  color: #ffc600;
  font-weight: 700;
}

.introduce {
  flex: 0 1 100%;
  margin-top: 140px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
