.panel1 { background-image:url(./images/Episode_36_Eyecatcher_B.png); }
.panel2 { background-image:url(./images/Episode_30_Eyecatcher_B.png); }
.panel3 { background-image:url(./images/Episode_31_Eyecatcher_A.png); }
.panel4 { background-image:url(./images/Episode_15_Eyecatcher_B.png); }