@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
:root {
  --size: auto;
  --font: auto;
  --func: cubic-bezier(0.1, 1, 0.9, 1);
  --func2: cubic-bezier(0.3, -0.6, 0.2, 2);
}

html {
  box-sizing: border-box;
  background: $primary;
  font-family: 'helvetica neue';
  font-size: 16px;
  font-weight: 200;
  text-align: left;
}

body {
  margin: 0;
}

footer {
  color: white;
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
  padding: 3vmin;
  letter-spacing: 2px;

  a {
    color: white;
    text-decoration: none;
  }
}
