.panels {
  min-height: 100vmin;
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.panel {
  flex: 1;
  cursor: pointer;
  transition: all 1s var(--func);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.5s var(--func);
    z-index: 1;
  }

  &::before {
    height: 50%;
    bottom: 0;
    opacity: 0;
    @include gradient(0deg, rgba($primary, 0.9), transparent);
  }

  &::after {
    height: 100%;
    top: 0;
    @include gradient(90deg, rgba($primary, 0.9), transparent);
  }

  &:hover {
    flex: 1.125;

    &::after {
      opacity: 0;
    }
  }

  @include breakpoint($md) {
    flex: none;
    width: 50vw;
    height: 50vh;
    &:hover {
      flex: none;
    }
  }

  @include breakpoint($sm) {
    width: 100vw;
  }
}

.cast {
  width: 35vmax;
  max-width: 30vmax;
  min-height: 50vh;
  color: white;
  padding: 5vmin 3vmin;
  margin-bottom: 3vmin;
  display: flex;
  align-items: flex-start;
  overflow: visible;
  position: relative;
  z-index: 2;
  letter-spacing: 2px;

  @include breakpoint($md) {
    width: 100%;
    max-width: 45vmax;
    min-height: 0;
    align-items: flex-end;
  }

  &-role {
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-size: 3.5vmin;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    font-weight: 400;
    position: relative;
    white-space: nowrap;

    &::after {
      width: 3.5vmin;
      height: 3.5vmin;
      content: '+';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0%;
      top: 100%;
      margin: 1vmin 0;
      color: $secondary;
      font-weight: 700;
    }
  }
}

.cast-name,
.movie-desc {
  transform: translateY(20%);
  opacity: 0;
  transition: all 0.75s var(--func2);
  font-size: 2.25vmin;
}

.cast-name {
  writing-mode: vertical-rl;
  transition-delay: 0.55s;
}

.movie-desc {
  line-height: 1.3;
  transition-delay: 0.35s;
}

.panel.open,
.panel.open:hover {
  flex: 2.5;
  cursor: default;

  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 0;
  }

  @include breakpoint($md) {
    flex: none;
    width: 50vw;
    height: 50vh;
    &:hover {
      flex: none;
    }
  }

  @include breakpoint($sm) {
    width: 100vw;
  }
}

.panel.open {
  .cast-role::after {
    animation: rotate 2s infinite linear;
  }
  .cast-name {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 0.35s;
  }
  .movie-desc {
    opacity: 1;
    transform: translateY(-0.35rem);
    transition-delay: 0.55s;
    @include breakpoint($md) {
      transform: translateY(0%);
    }
  }
}
