html {
  background-color: antiquewhite;
}
.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: scroll;
}
h2 {
  color: burlywood;
  background-color: white;
  border-radius: 10px;
}
p {
  color: chocolate;
}
