@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$primary: #3c3d53;
$bg-color: #e9eaf0;
$font: 'Manrope', sans-serif;

body {
  background: $bg-color;
  color: $primary;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 10vmax;
  margin: 0;
}

body,
input {
  font-family: $font;
  font-weight: 200;
}

.search-form {
  background: white;
  min-width: 50vmax;
  border-radius: 1vmin;
  // transition: all 0.8s cubic-bezier(0.6, 2.6, 0.05, 0.01);
  box-shadow: 0 1vmin 2vmin rgba($primary, 0.1);
}

.search {
  width: calc(100% - 8vmin);
  font-size: 5vmin;
  text-align: center;
  background: transparent;
  padding: 2.8vmin 4vmin;
  margin: 0;
  border: 0;
  outline: 0;

  &::placeholder {
    color: rgba($primary, 0.15);
  }

  &:focus {
    color: $primary;
  }
}

.suggestions {
  padding: 0 2vmin;
  margin: 0;
  list-style: none;
  border-top: 1px solid rgba($primary, 0.1);

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.4vmin;

    &:first-child {
      margin-top: 2.8vmin;
    }

    &:last-child {
      margin-bottom: 2.8vmin;
    }

    span {
      padding: 1vmin 1.4vmin;
      border-radius: 4px;
    }

    .population {
      margin-left: auto;
    }

    .city {
      background: rgba($primary, 0.5);
      color: white;
    }
  }
}
