@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import "./keyframes.scss";
*{
    font-family: 'Rock Salt', cursive;
    color: white;
    box-sizing: border-box;
}

// utils
.animate-shadow-light {
    animation: shadow-light 5s infinite both;
}

.animate-text-light-shadow {
    animation: text-shadow-light 5s infinite both;
}

.body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;
    padding-top: 25rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    z-index: 10;
    background: radial-gradient(rgba(0,0,0,.75), rgba(0,0,0,0.95)), url("./wowpatterns-export.jpeg");
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    margin-bottom: 4rem;
    font-size: 3.5rem;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        height: 5px;
        width: 100vw;
        background-color: #fff;
        border-radius: 5px;
        animation: shadow-light 5s infinite both;
    }
    &::after{
        left: -70px;
        transform: translate(-100%, -50%)   
    }
    &::before {
        right: -70px;
        transform: translate(100%, -50%)   
    }
}

.search {
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    line-height: 2em;
    text-align: center;
    font-size: 2rem;
    outline: none;
    border-radius: 1.25rem;
    border: none;
    background: transparent;
    text-shadow: 0 0 5px rgba(255,255,255,0.8), 0 0 10px rgba(255,255,255,0.5);
    &::placeholder {
        text-shadow: 0 0 0 #111;
    }
}

.suggestions {
    width: 100%;
    list-style: none;
    animation: text-shadow-light 5s infinite both;
    padding: 0;
    font-size: 1.75rem;
    li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
    }
}