@import 'animate';
$dark: black;
$white: white;

html,
body {
  background-color: $white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  .one {
    width: 1600px;
    height: 1600px;
    border-radius: 100%;
    background-color: #ee606e;
    left: -1000px;
    top: -300px;
    z-index: 1;
    animation: move 12s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
  }

  .two {
    width: 100%;
    height: 100%;
    background: #ff335d;
    top: 0;
    left: 0;
  }

  .three {
    width: 1450px;
    height: 1450px;
    background: #efdd16;
    border-radius: 100%;
    bottom: -700px;
    right: -100px;
    animation: moveOn 12s linear infinite;
    transform: rotate(0) translate(180px) rotate(0);
  }

  .four {
    width: 1360px;
    height: 1360px;
    margin: auto;
    top: -600px;
    left: 700px;
    border-radius: 100%;
    background: #17b4ed;
    animation: move 16s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
  }
}

.wrapper div {
  position: absolute;
  filter: blur(80px);
  opacity: 0.4;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 20px rgba(154, 154, 154, 0.25);
  padding: 20px;
  z-index: 5;
  width: 100%;
  margin-top: 24px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-width: 50vw;
}

.list-item {
  animation: fade 1s ease-in-out;
  border: 4px solid rgba(255, 8, 8, 0.43);
  box-shadow: 0 0 20px rgba(255, 8, 8, 0.43);
  background: rgba(255, 8, 8, 0.2);
  color: $white;
  font-size: 1.5rem;
}

@keyframes fade {
  0% {
    transform: translateX(100px) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
}

input {
  border: 0;
  border-radius: 8px;
  font-size: 1.25rem;
  padding: 8px;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;

  &:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.45);
  }
}

ul {
  list-style: none;
  padding: 0;
}
