* {
  box-sizing: border-box;
}

html,
body,
canvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body.body-bg {
  background-image: url('./images/body-bg.jpeg');
  background-size: cover;
}

.panel {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
}
.row {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.panel {
  background-color: #fff;
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 3px 3px 5px rgba(30, 30, 30, 0.3);
}

.panel [role='button'] {
  cursor: pointer;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  padding: 0.25rem;
  transition: all 0.1s;
}

label.radio-label {
  background-color: #fff;
  color: #bbb;
}

label.radio-label:hover {
  background-color: #aae;
  color: #fff;
}

input.radio-style[type='radio']:checked ~ label.radio-label {
  background-color: #55d;
  color: #fff;
}

input.radio-style[type='radio'] ~ .color-panel {
  display: none;
}
input.radio-style[type='radio']:checked ~ .color-panel {
  display: block;
}

.color-panel {
  position: absolute;
  left: -10px;
  top: -0.25rem;
  transform: translate(-100%, 0);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 3px 3px 5px rgba(30, 30, 30, 0.3);
}
.color-panel::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(10px, -50%);
  width: 0;
  height: 0;
  border-width: 5px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

input[type='color'] {
  min-width: 2rem;
  border: none;
  padding: 0;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.mt-2 {
  margin-top: 0.5rem;
}

.border-right-grey {
  border-right: 1px solid #bbb;
}

.icon-svg {
  width: 1.25rem;
  height: 1.25rem;
}
