@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;500;700&family=Ubuntu:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-[url('./assets/background.jpg')];
}

html,
body {
  @apply font-roboto box-border;
}

.key {
  @apply border-4 border-black rounded-lg m-[10px] bg-black bg-opacity-40 px-2 py-4 w-28;
  @apply text-center text-2xl text-white;
}

kbd {
  @apply block;
}

.sound {
  @apply text-[#ffc600] font-light text-sm;
}

.play {
  @apply scale-110;
  @apply border-[#ffc600] shadow-blur;
}
.text-shadow {
  text-shadow: white 0.1rem 0.1rem 0.2rem;
}
