.container {
  position: relative;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
}
.container #video {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}
.container .controls {
  position: absolute;
  bottom: 20px;
  width: 90%;
  opacity: 0.1;
  transition: opacity 0.4s;
}
.button-group {
  display: flex;
  justify-content: space-around;
}
.container:hover .controls {
  opacity: 1;
}
.container .controls button {
  background: transparent;
  color: #fff;
  font-weight: bolder;
  text-shadow: 2px 1px 2px #000;
  border: none;
  cursor: pointer;
}
.container .controls .timeline {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
  margin-bottom: 1rem;
}

.container .controls .seek-tooltip {
  padding: 5px;
  width: 8%;
  text-align: center;
  background-color: gray;
  color: white;
  margin-bottom: 1rem;
  opacity: 0;
}

.container .controls .timeline .bar {
  background: rgb(1, 1, 65);
  height: 8px;
  flex: 1;
}
.container .controls .timeline .bar:hover {
  cursor: pointer;
}
.container .controls .timeline .bar .inner {
  background: #ccc;
  width: 0%;
  height: 100%;
}
.fa {
  font-size: 20px !important;
}

.container .controls .button-group .time time,
span {
  left: 1rem;
  font-size: 20px;
  color: white;
}
