name: update gh-pages
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  merge_ghpage:
    name: update gh-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: gh-pages
          fetch-depth: 0
      - name: perform merge
        run: |
          git config --global user.email "rabbitteetw@gmail.com"
          git config --global user.name "Rabbittee"
          git status
          git checkout gh-pages
          git pull
          git merge origin/${{ github.event.pull_request.head.ref }} --ff
      - name: Set up Python 3.X
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Run Python Script
        run: |
          python script/getLink.py
      - name: push merge
        run: |
          git add .
          git commit -m "update README link"
          git push
